---
layout: page
---
<h2>Enhancing LendingClub Returns</h2>

<h4> using Advanced Analytical Techniques</h4>

<p><strong><u>Motivation</u></strong>:</p>
<p>This main objective of this project is to provide a data science model for a potential investor in the popular online lending platform LendingClub.&nbsp; Online lending platforms have experienced substantial growth over the past 10 years and are marketed as an opportunity for borrowers to avoid the expensive bank market and for investors to have the opportunity to get exposure to a different asset class.</p>
<p>Initially this product was marketed as a low-cost alternative to bank lending. Unfortunately, the truth is somewhat different.&nbsp; On the borrower side the fees are about 4% of the loan amount, based off LendingClub stock market 10K filing. On the investor side fees are much more reasonable with just 1%.&nbsp; The total fee structure is, however, much worse than a bank but much better than a credit card where APRs (Annual Percentage interest Rates) are often 20% or worse.</p>
<p>LendingClub experience significant growth in its stock market valuation achieving a peak of more than 10B$.&nbsp; Obviously at these valuations someone must be paying fees!</p>
<p>On a very different note, the U.S. banking system has shown clear signs of discrimination against non-white members of the population.&nbsp; The rise of internet type lenders was hoped to be a means around this type of discrimination grounded in physical representation of the clientele (i.e. the bank is able to see the person&rsquo;s racial background). During the course of the study we have not been able to tackle this interesting issue as much of the data that would normally have helped us ascertain demographics, if only at a macro level, was not able. We have, however, been able to broadly scope out some of the regional differences by Zip Code. Further analysis would be possible if we were to have access to full zip code data (we have only received 3 rather than 5-digit zip codes as well as some basic biographical data).</p>
<p>&nbsp;</p>
<p><strong><u>Problem Statement</u></strong><strong>:</strong></p>
<p>The primary objective of the project has not changed.&nbsp; We will generate a model that can be used by an investor to select a portfolio of loans that earn the highest overall return net of credit costs and, if possible, with positive discrimination, i.e. lending to under-served portions of the population. We continue to believe that including under-served portions of the population (who are generally those who have been discriminated against) may prove to be both ethically and commercially sensible.</p>
<p>However, through our improved understanding of the business model, we now believe that the key to realizing the highest possible return will be primarily driven by identifying, n the first instance, likelihood of default and then going for profitability.</p>
<p>&nbsp;</p>
<p><strong><u>Overview of this Document</u></strong>:</p>
<p>This document is composed of five parts:</p>
<ul>
<li><strong>Home Page</strong>: the current page This page &ndash; the home page which provides motivation, problem statement and document overview;</li>
<li><strong>Understanding the Data</strong>: which provides a detailed discussion of the data cleansing and wrangling as well as some key charts related to the data (EDA);</li>
<li><strong>Discrimination</strong>: an overview of the potential issues with discrimination;</li>
<li><strong>Model Development</strong>: an overview of the modeling that we conducted with a view to identifying the key parameters and betas that would allow and investor to build an attractive portfolio; and</li>
<li><strong>Summary of Results</strong>.</li>
</ul>
<p>&nbsp;</p>
